/* Google Fonts must come FIRST */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Tailwind CSS */
@import "tailwindcss";

/* Base Styles */
/* @import "./base/reset.css";
@import "./base/variables.css";
@import "./base/typography.css"; */

/* Component Styles */
/* @import "./components/buttons.css";
@import "./components/cards.css";
@import "./components/sections.css"; */

/* Utility Styles */
/* @import "./utilities/spacing.css";
@import "./utilities/effects.css"; */

/* Layout Styles */
/* @import "./layouts/containers.css";
@import "./layouts/grid.css"; */
