/* Google Fonts must come FIRST */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit+Display:wght@100,200,300,400;500;600;700&display=swap");

/* src/styles/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;









/* Tailwind CSS */
@import "tailwindcss";
@import "tailwindcss" important;

/* Base Styles */

@import "./base/variables.css";
@import "./base/typography.css";

/* Hide scrollbar for Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;   
}
