/* Typography Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-outfit);
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-gray-900);
}

h1 {
  font-size: var(--text-6xl);
  font-weight: 800;
}

h2 {
  font-size: var(--text-4xl);
  font-weight: 400;
}

h3 {
  font-size: var(--text-2xl);
  font-weight: 500;
}

p {
  font-size: var(--text-base);
  line-height: 1.7;
  color: var(--color-gray-600);
}
