/* Typography Styles */

*{
  font-family: var(--font-family-outfit);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-outfit);
}

/* hide scrollbar for Chrome, Safari and Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* hide scrollbar for IE/Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}
